.bg-color{
    background: linear-gradient(90deg, #c0dde6 0%, #deeadf 100%);
    border-radius: 0px 0px 50px 0px;
}

.box-number{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 50%;
}